table {
  border-collapse: collapse;
  width: 100%;
}

th, td, caption {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

caption {
  font-weight: bold;
  font-size: 24;
  border-bottom: 0;
}
